<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <style>

          *{
              margin:0;
              padding:0;
          }
          .menu{
              font:16px Arial;
              background-size:contain;
              color:#023567;
          }
          .menu__inner{
                padding:120px 100px;
          }
          .menu__header{
              font-size:22px;
              font-weight:bold;
              text-align:center;
              margin-bottom:60px;
          }
          .menu__list{
            list-style:none;
          }
          .menu__item{
            font-size:16px;
            list-style:none;
            margin-bottom:20px;
          }
          .menu__item--group{
            font-size:18px;
            font-weight:bold;
            margin-top:40px;
          }
          .menu__price{
            font-weight:bold;
          }
          .menu__table{
              border-collapse:collapse;
          }
          .menu__th{
              font-size:1.1em;
              font-weight:normal;
              border-bottom:1px solid #000;
              padding-bottom:0.5em;
          }
          .menu__td{
               padding-top:.8em;
          }
    </style>
</head>
<body>
<div class='menu'
  <%
  if(typeof(image) !== 'undefined'){
  %>
  style='width:<%= image.width %>px; height:<%= image.height %>px; background:url("http://localhost:3000<%= image.src %>") no-repeat left top;'
<%
}
%>
  >
    <div class='menu__inner'>
      <div class='menu__header'><%- name %></div>
        <ul class='menu__list'>
          <% for(var i = 0; i < items.length; i++) { %>
          <% var groupClass = null; %>
          <% if(items[i].isGroup) groupClass = ' menu__item--group' %>
          <li class='menu__item<%- groupClass %>'>
              <span class='menu__name'><%- items[i].name %></span>
              <% if(!groupClass) { %>
                  <span class='menu__cnt'> (<%- items[i].serving %> г.)</span>
                  <span class='menu__price'>&nbsp;&nbsp;-&nbsp;&nbsp;<%- items[i].priceServing %> руб.</span>
              <% } %>
          </li>
          <% } %>
        </ul>
    </div>
</div>
</body>