<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <style>
          html{
            zoom: 0.69;
          }
          *{
              margin:0;
              padding:0;
          }
          .menu{
              font:16px Arial;
              background-size:contain;
              color:#023567;
              width:100%;
          }
          .menu__inner{

          }
          .menu__blank{
            padding-left: <%- paddingLeft %>px;
            padding-right: <%- paddingRight %>px;
            padding-top: <%- paddingTop %>px;
            padding-bottom: <%- paddingBottom %>px;
          }
          .menu__header{
              font-size:22px;
              font-weight:bold;
              text-align:center;
              margin-bottom:60px;
          }
          .menu__list{
            list-style:none;
          }
          .menu__inner--part{
            float:left;
            width:50%;
          }
          .menu__inner--part-right{
            /*float:right;*/
          }
          .menu__item{
            font-size:16px;
            list-style:none;
            margin-bottom:20px;
          }
          .menu__item--group{
            font-size:18px;
            font-weight:bold;
            margin-top:40px;
          }
          .menu__price{
            font-weight:bold;
          }
          .menu__table{
              border-collapse:collapse;
          }
          .menu__th{
              font-size:1.1em;
              font-weight:normal;
              border-bottom:1px solid #000;
              padding-bottom:0.5em;
          }
          .menu__td{
               padding-top:.8em;
          }
          .menu__fullPrice {
            font-size: 1.1em;
            border-top: 1px dashed#023567;
            padding-top: 15px;
            margin-bottom:10px;
          }
          .menu__service-increase{
            margin-bottom:10px;
          }
          .menu__service-discount{
            font-size: 1.1em;
            margin-bottom:10px;
          }
          .hots{
            margin-top:50px;
            width:100%;
            overflow:hidden;
          }
          .hots__list{
            margin:0;
            padding:0;
            list-style: none;
            width:105%;
          }
          .hots__item{
            float:left;
            width:42%;
            margin-right:8%;
          }
          .hots__item-name{
            display:block;
            font-size:18px;
            margin-bottom:15px;
          }
          .hots__item-img{
            display:block;
            width:100%;
          }
    </style>
</head>
<body>
<%
  var fullValue = 0;
%>
<div class='menu'
  <%
  if(typeof(image) !== 'undefined'){
  %>
  style='width:<%= image.width %>px; height:<%= image.height %>px; background:url("<%= image.src %>") no-repeat left top;'
<%
}
%>
  >
    <div class='menu__inner <%- typeof isTwoColumns !== 'undefined' && isTwoColumns && isTwoColumns !== 'false' ? 'menu__inner--part' : '' %>'>
      <div class='menu__blank'>
        <div class='menu__header'><%- isEnglish === 'true' || isEnglish === true ? nameEng : name %></div>
        <ul class="menu__list">
          <%
          if (typeof items !== 'undefined') {
            for(var i = 0; i < items.length; i++) {
              if (items[i].isDelimiter && !i) continue;
              if (typeof isTwoColumns !== 'undefined' && isTwoColumns && items[i].isDelimiter) {
          %>
        </ul>
      </div>
    </div>
    <div class='menu__inner menu__inner--part menu__inner--part-right'>
      <div class='menu__blank'>
        <div class='menu__header'><%- isEnglish === 'true' || isEnglish === true ? nameEng : name %></div>
          <ul class="menu__list">
          <%
                continue;
              }
              var groupClass = null;
              if (items[i].isGroup) groupClass = ' menu__item--group';
              var itemName = isEnglish === 'true' || isEnglish === true ? items[i].nameEng : items[i].name;
              var measure = isEnglish === 'true' || isEnglish === true ? ' g' : ' г';
              var serving = items[i].serving ? items[i].serving + measure : '';
              var currency = isEnglish === 'true' || isEnglish === true ? ' RUR' : ' руб';
              var price = items[i].priceBase && items[i].coefficient ? parseFloat(items[i].priceBase) * parseFloat(items[i].coefficient) + currency : '';
              fullValue += parseFloat(price ? price : 0);
          %>
          <li class='menu__item<%- groupClass %>'>
              <span class='menu__name'><%- itemName %></span>
              <% if(!groupClass) { %>
                  <span class='menu__cnt'> (<%- serving %>)</span>
                <% if (typeof noPrices === 'undefined' || noPrices === 'false' || !noPrices) { %>
                  <span class='menu__price'>&nbsp;&nbsp;-&nbsp;&nbsp;<%- price %></span>
                <% } %>
              <% } %>
          </li>
          <%
            }
          }
          %>
        </ul>
        <% if (typeof serviceIncrease !== 'undefined' && serviceIncrease) {
            fullValue = fullValue + fullValue * parseInt(serviceIncrease) / 100;
        %>
        <div class='menu__service-increase'>Надбавка за сервис - <%- serviceIncrease %>%</div>
        <% } %>
        <div class='menu__fullPrice'>Итого <%- fullValue.toFixed(2) %> руб.</div>

        <% if (typeof discount !== 'undefined' && discount) {
          fullValue = fullValue - fullValue * parseInt(discount) / 100;
        %>
        <div class='menu__service-discount'>Скидка - <%- discount %>%</div>
        <div class='menu__fullPrice'>Итого со скидкой <%- fullValue.toFixed(2) %> руб.</div>
        <% } %>

        <% if (typeof commentAdditionalExpenses !== 'undefined' && commentAdditionalExpenses) { %>
        <div class='menu__additional-expenses'><%- commentAdditionalExpenses %></div>
        <% } %>

        <% if (typeof noAdditionalExpenses !== 'undefined' && (noAdditionalExpenses === 'true' || noAdditionalExpenses === true)) { %>
        <div class='menu__disclaimer'>* Без дополнительных расходов на персонал</div>
        <% } %>

        <%
          if (typeof hots !== 'undefined') {
        %>
          <div class='hots'>
            <ul class='hots__list'>
        <%
            for(var i = 0; i < hots.length; i++) {
        %>
              <li class='hots__item'>
                <span class='hots__item-name'><%- hots[i].name %></span>
                <img src='<%- hots[i].src %>' class='hots__item-img' />
              </li>
        <%
            }
        %>
          </div>
        <%
          }
        %>

      </div>
    </div>
</div>
</body>